body{
	margin: 0;
	padding: 0;
	font-family: "helvetica", arial;
}

#menu{
	margin: 0 auto;
}

#mainForm, #graphContainer{
	margin: 20px 20px 0px 20px;
}

#genGraph{
	margin-top: 15px;
}

/*Dropdown menu css from bootstrap*/
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.glyphicon-chevron-left:before {
  content: "<";
}
.glyphicon-chevron-right:before {
  content: ">";
}