body{
	margin: 0;
	padding: 0;
	font-family: "helvetica", arial;
}

/*#mainHead{
	margin: 20px 20px 0px 20px;
}*/

#menu{
	margin: 0 auto;
}

#mainForm, #graphContainer{
	margin: 20px 20px 0px 20px;
}

#genGraph{
	margin-top: 15px;
}